<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.WorkspaceMapper">
    <select id="businessData" resultType="java.util.Map">
        select ifnull(ROUND(temp.complete / temp.paid, 2), 0)  as round,
               temp.amount                                     as amount,
               temp.avg                                        as avg,
               temp.complete                                   as complete,
               (select count(*)
                from user
                where create_time between #{start} and #{end}) as new_user
        from (select ifnull(sum(if(status = 5, amount, null)), 0) amount,
                     ifnull((ifnull(sum(if(status = 5, amount, null)), 0) / count(if(status = 5, status, null))),
                            0)                                    avg,
                     count(if(pay_status = 1, pay_status, null))  paid,
                     count(if(status = 5, status, null))          complete
              from orders
              where order_time between #{start} and #{end}) as temp
    </select>
    <select id="overviewSetmeals" resultType="java.util.Map">
        select sold.sold, discontinued.discontinued
        from (select count(*) sold from setmeal where status = 1) sold,
             (select count(*) discontinued from setmeal where status = 0) discontinued;
    </select>
    <select id="overviewDishes" resultType="java.util.Map">
        select sold.sold, discontinued.discontinued
        from (select count(*) sold from dish where status = 1) sold,
             (select count(*) discontinued from dish where status = 0) discontinued;
    </select>
    <select id="countByMap" resultType="java.lang.Integer">
        select count(*)
        from orders
        where status = #{status}
          and order_time &gt; #{begin}
    </select>
</mapper>